<a href="https://colab.research.google.com/github/akaclark21/Pandas-Data-Frame/blob/main/data_frames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Create Data Frames**

**1. List of Lists**

In [ ]:
#Importing necessary library
import pandas as pd

In [ ]:
#Creating list of lists
data = [['Ashish','Ghaziabad',30,88.0],['Aryan','Vasundhara',28,70.0],['Bhumesh','Uttarpradesh',5,50]]

In [ ]:
#Creating pandas DataFrame
df = pd.DataFrame(data,columns=['Name','City','Age','Percentage'])

In [ ]:
#Print DataFrame
print(df)

      Name          City  Age  Percentage
0   Ashish     Ghaziabad   30        88.0
1    Aryan    Vasundhara   28        70.0
2  Bhumesh  Uttarpradesh    5        50.0

**2. Dictionary of List**

In [4]:
#Importing necessary library
import pandas as pd

In [5]:
# Create Dictionary of lists
data = {'Name':['Alex','Ben','David','Eva'], 'City':['Mumbai','Chennai','New Delhi','Kolkata'], 'Age':[23,25,33,34],'Percent':[88.0,89.0,90.0,85.8]}

In [6]:
#Creating pandas DataFrame
df = pd.DataFrame(data)

In [8]:
#Print DataFrame
print(df)

    Name       City  Age  Percent
0   Alex     Mumbai   23     88.0
1    Ben    Chennai   25     89.0
2  David  New Delhi   33     90.0
3    Eva    Kolkata   34     85.8